body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-weight: lighter;
    background: #e7d292;
    text-decoration: none;
    list-style: none;

  }
  
  
  .header{
    display: flex;
    flex-direction: row;
   height: 110px;
}

.logo{
   
   width:1000px;
    align-self: left;
}
.logo h1{
    font-size: 40px;
  color: #6950d0;
  font-weight: 550;
  letter-spacing: -0.1em;
  line-height: 80%;
  text-align:center;
  padding-right: 600px;

}
.home{
    text-decoration: none;
}

.nav{
    color: #6950d0;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.3em;
  
}
.arcade{
    width:350px;
    align-self: center;
    padding-left: 100px;
}


.about{
    width:200px;
    padding-left: 80px;
    align-self: center;

}
.abt{
    text-decoration: none;
}
.arcade{
    text-decoration: none;
}
.nav :hover{text-decoration: underline;}

.buynow{
  background-color: #e7d292;
 position:fixed;
 border: 15px solid #e7d292;
 left: 1440px;

 
}
.buynow h1{
  color:#6950d0;
  font-size: 40px;
  font-weight: 550; 
  letter-spacing: -0.03em;
writing-mode: vertical-lr;
line-height: 0px;
text-decoration:none;

}

.entry{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 550px;
    background-color: #6950d0;
    

}

   

.thejack {

    height:10px;
    padding-left: 80px;
   
  }
  .thejack h1{
    padding-top: 10px;
  font-size: 110px;
  color: #e7d292;
  font-weight: 550;
  letter-spacing: -0.1em;
  line-height: 0px;
  }
  .slider{
    height: 250px;
    margin:auto;
    position:relative;
    width:90%;
    display:grid;
    padding-top: 20px;
    place-items: center;
}

.slide-track{
  display:flex;
  width:cal(250px*16);
  animation:scroll 7s linear infinite;
}

@keyframes scroll{
  0%{transform: translateX(0);}
  0%{transform:translateX(calc(-250px*4))}
}
.slide{
  height:350px;
  width: 250px;
  display:flex;
  align-items:center;
  padding-left: 20px;
  
}
.slide img{
  width:100%;
  
}




.details{
    display:flex;
    flex-direction: row;
    height: 165px;
    background-color: #e7d292;
    border:4px solid #6950d0;
   

}
.players{
  
    width:60%;
    border-right:4px solid #6950d0;

}
.players p{
    color:#6950d0;
font-size: 22px;
font-weight: 550; 
letter-spacing: -0.03em;
padding-left: 80px;
padding-top:20px;

line-height: 110%;
}
.objective{
    width:40%; 
}
.objective h4{
    color:#6950d0;
    font-size: 22px;
font-weight: 550; 
letter-spacing: -0.03em;
padding-left: 60px;
line-height: 0;
padding-top: 40px;
}
.objective p{
    color:#6950d0;
font-size: 22px;
font-weight: 450; 
letter-spacing: 0.1em;
line-height: 0;
padding-left: 60px;
}
.title h2{
  padding-left: 100px;
    background-color: #e7d292;
    font-size: 110px;
  color:#6950d0;
  font-weight: 550;
  letter-spacing: -0.1em;
  
  }
  .container {
    
    display: grid;
    grid-template-rows: 300px 300px ;
    grid-template-columns: 300px 300px 300px 300px 300px;
    justify-content: center;
    background-color: #e7d292;
    border: 4px solid #6950d0;
    row-gap: 50px;
    
    
  }
 
  .steps p{
    color:#6950d0;
    font-size: 20px;
    font-weight: 550; 
    letter-spacing: -0.03em;
    padding-left: 40px;
    padding-right: 40px;
    
    line-height: 110%;

  }

  .steps h1{
    color:#6950d0;
    font-size: 50px;
    font-weight: 550; 
    letter-spacing: -0.03em;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 20px;
    
    }

  